
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.digital-result{
  display: block;
  font-size: 20px;
  color: grey;
}
.digital-result-sm{
  display: block;
  font-size: 14px;
  color: grey;
}
label{
  font-weight: bold;
  color: #4f5457;
}
input:not([type=submit]):not([type=radio]):not([type=checkbox]){
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.one-3{
  width: 33.33%;
  float: left;
}
.one-5{
  width: 20%;
  float: left;
}
.two-5{
  width: 40%;
  float: left;
}

.shortlynk-item{
  display: flex;
  align-items: center;
}

.link{
  color: #3490dc;
}

.shortlynk{
  font-weight: bold;
  font-size: 12px;
}

.actions a{
  font-weight: bold;
  font-size: 12px;
  color: gray;
}

.hidden{
  display: none;
}

.success{
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  background: #3ab843;
  color: #fff;
  display: block;
}

.title{
  padding: 10px 15px;
  background: #336f9d;
  color: #fff;
}
.link{
  color: #336f9d;
}
.info{
  color: #daa875;
  font-size: 13px;
  padding-left: 8px;
}
img, iframe{
  max-width: 100%;
}
.fa-frown,
.fa-link,
.fa-info{
  font-size: 20px;
  color: #d2db23;
  margin-right: 8px;
}